/* @font-face {
  font-family: IQOS;
  src: url(assets/fonts/IQOS-Regular.otf);
} */

@font-face {
  font-family: "IQOS";
  src: url("assets/fonts/IQOS-Regular.otf"); /*Chrome šćč*/
  src: url("assets/fonts/iqos-regular-webfont.eot"); /* IE9 Compat Modes */
  src: url("assets/fonts/iqos-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/iqos-regular-webfont.woff2") format("woff2"),
    /* Super Modern Browsers */ url("assets/fonts/iqos-regular-webfont.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("assets/fonts/iqos-regular-webfont.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("assets/fonts/webfont.svg#svgFontName")
      format("svg");
  /* Legacy iOS */
}

/*********************************************************************************
                                     GLOBALS
********************************************************************************/

:root {
  --clr-text: #34303d;
  --clr-primary: #00d1d2;
  --clr-secondary: #2980b4;
  --clr-accent: #e3813b;

  --clr-neutral-100: #fff;
  --clr-neutral-200: #f5f4f0;
  --clr-neutral-300: #f6f4ef;
  --clr-neutral-400: #fffdfb;

  --clr-gray-300: #e7e7e7;
  --clr-gray-400: #e8e8e8;
  --clr-gray-500: #e8e7e9;
  --clr-gray-900: #34303d1a;

  --f-heading-large-bold: normal normal bold 70px/80px IQOS;
  --f-heading-bold: normal normal bold 58px/75px IQOS;

  --f-subheading-normal: normal normal normal 30px/46px IQOS;
  --f-link-footer: normal normal normal 20px/48px IQOS;

  --f-text-normal: normal normal normal 20px/30px IQOS;
  --f-text-small: normal normal normal 15px/23px IQOS;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  text-align: left;
  color: var(--clr-text);
  opacity: 1;
  background-color: #fff;
  font-family: IQOS;
  font-size: 62.5%; /*10px*/
}
body {
  overflow-x: hidden;
  color: var(--text-color);
  letter-spacing: 0px;
}

nav {
}
.main {
  width: 100%;
}
ul {
  list-style: none;
}

/********
Typografy
*********/

p,
a {
  font: var(--f-text-normal);
  letter-spacing: 0px;
  text-align: left;
}
a {
  text-decoration: none;
}

/*****
  UI
******/

img,
svg {
  display: block;
  width: 100%;
  height: auto;
}

section {
  width: 100%;
  position: relative;
}

/*****************
Utility classes
*****************/

.bg-white {
  background: var(--clr-neutral-100) 0% 0% no-repeat padding-box;
}
.bg-light {
  background: var(--clr-neutral-200) 0% 0% no-repeat padding-box;
}
.bg-medium {
  background: var(--clr-neutral-300) 0% 0% no-repeat padding-box;
}
.bg-light-gray {
  background: var(--clr-gray-400) 0% 0% no-repeat padding-box;
}
.bg-primary {
  background: var(--clr-primary) 0% 0% no-repeat padding-box;
}
.bg-secondary {
  background: var(--clr-secondary) 0% 0% no-repeat padding-box;
}
.bg-accent {
  background: var(--clr-accent) 0% 0% no-repeat padding-box;
}
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.split > div {
  max-width: 50%;
}
@supports (flex-basis: 100%) {
  .split > * {
    flex-basis: 100%;
  }
}

/*TEXT CLASSES*/

.text-title-large {
  font-size: clamp(3.6rem, 3.9vw, 7rem);
  line-height: 1.14em;
  text-transform: uppercase;
}
.text-title-bold {
  color: var(--clr-text);
  font-size: clamp(36px, 3.1vw, 58px);
  line-height: 1.1em;
  font-weight: bold;
}

.text-paragraph {
  color: var(--clr-text);
  font-weight: normal;
  font-size: clamp(1.8rem, 1.25vw, 2rem);
  line-height: 1.53em;
}

.text-border {
  border: 2px solid var(--clr-text);
  padding: 12px 28px;
}
.text-border--white {
  border-color: var(--clr-neutral-100);
  color: var(--clr-neutral-100);
}

.text-fusnote {
  font-size: 1.3rem;
  line-height: 1.54em;
}

.nav-link {
  color: var(--clr-text);
  font-family: IQOS;
  font-size: clamp(1.8rem, 1.55vw, 2.2rem);
  line-height: 1.54em;

  opacity: 0.8;
  margin-top: 0.5em;
}
.nav-link span {
  margin-left: 1em;
  margin-right: 0.5em;
}
.nav-link i {
  width: 25px;
  height: 13px;
}
ul.mobile-menu > li:nth-child(1) > a > span,
ul.desktop-menu > li:nth-child(1) > a {
  font-weight: bold;
  border-bottom: 3px solid var(--clr-primary);
}
/*********************************************************************************
                                     HEADER
********************************************************************************/

/***********
Desktop menu
************/
.desktop-nav {
  display: none;
  background: var(--clr-gray-500);
  box-shadow: 0px 4px 10px var(--clr-gray-900);
  max-height: 8.5vw;
  align-items: flex-start;
}
ul.desktop-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1.3vw;
}
.logo {
  width: min(76.02rem, 39.6vw);
}

/***********
Mobile menu
************/
.mobile-nav {
  background: var(--clr-gray-500);
  width: 100%;
  max-height: 5.4rem;
  box-shadow: 0px 4px 10px var(--clr-gray-900);
}

.logo-container {
  width: min(20.5rem, 55.4%);
  margin: 0 auto;
  margin-top: 0.733rem;
}
.logo-container svg {
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

ul.mobile-menu {
  background-color: var(--clr-neutral-400);
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease-out;
}

.mobile-menu li {
  display: block;
  padding: 10px 15px;
  /* transition: all 0.3s ease-out; */
}

.mobile-menu.open {
  max-height: 22.1rem;
}
/*Nav Icon*/
#nav-icon {
  width: 22px;
  height: 10px;
  /* opacity: 0.8; */
  position: relative;
  top: 2.45rem;
  left: 3.19rem;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  outline: none;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 1.7px;
  width: 2.156rem;
  background: #34303d;
  opacity: 0.8;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 9px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#nav-icon.open span {
  height: 0.15rem;
}
#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -2px;
  left: 3px;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 13px;
  left: 3px;
}

/*********************************************************************************
                                     MAIN
********************************************************************************/

/****************
     Slider 
****************/
.slider-container {
  position: relative;
  min-height: 897.02px;
  background-color: var(--clr-neutral-300);
  padding-top: 41px;
  overflow-x: hidden;
}
.slider {
  width: 100%;
}

.slide {
  width: 100%;
  justify-content: space-between;
  position: absolute;
  z-index: -1;
  background-color: var(--clr-neutral-300);
}
.slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.top {
  z-index: 3;
  transition: 0.5s ease transform;
}
.slide.active {
  z-index: 3;
  transform: translateX(0);
}
.slide.transition {
  transition: 0.5s ease transform;
}

/*Slide elements styling*/

.slide-content,
.slide-img {
  width: 100%;
  margin: 0 auto;
}

.slide-text-content {
  width: clamp(29.8rem, 82.8%, 74.9rem);
  flex-direction: column;
  align-items: flex-start;
  padding-top: 4.3em;
}

.slide-text {
  font-size: clamp(1.8rem, 1.2vw, 3rem);
  line-height: 1.54em;
  padding-bottom: 1.33em;
}

/* .slide-content > div > p:nth-child(2) {
  padding-top: 0.5em;
} */
.slide-text-border {
  font-size: clamp(1.3rem, 1.1vw, 2rem);
  line-height: 1.5em;
  padding: 12px 23px;
  margin-bottom: 13px;
}

/*Slider navigation*/

.dots {
  z-index: 5;
  transform: translateX(-50%);
  width: 104px;
  justify-content: space-between;
  position: absolute;
  top: 33%;
  left: 50%;
}

.dots .dot {
  display: inline-block;
  height: 12px;
  width: 12px;
  background-color: var(--clr-primary);
  opacity: 0.5;
  border-radius: 6px;
  transition: 0.3s ease width;
  cursor: pointer;
}
.dots .dot.active {
  background-color: var(--clr-primary);
  width: 28px;
  border-radius: 6px;
  opacity: 1;
}
.buttons {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.slider-button {
  cursor: pointer;
  width: 50px;

  background: rgba(0, 209, 210, 0.2) 0% 0% no-repeat padding-box;

  border-radius: 50%;
}
.slider-button > i {
  width: 33px;
  height: 17px;
  text-align: left;
  font: normal normal 300 33px/50px Font Awesome 5 Free;
  letter-spacing: 0px;
  color: var(--clr-primary);
  opacity: 1;
  position: relative;
}

.slider-button i::before {
  font-size: 33px;
  position: absolute;
  top: -50%;
  left: 25%;
}
/******
I SECTION
*******/
/*  #bolji-izbor  */

#bolji-izbor,
#manje-stetnih,
#sagorevanje {
  flex-direction: column-reverse;
}
.content-wrapper {
  flex-direction: column;
}
.text-content {
  text-align: left;
  flex-direction: column;
  margin-top: 8%;
  width: 83.3%;
  margin: 0 auto;
}
#bolji-izbor .text-title-bold {
  margin-top: 8%;
  margin-bottom: 5%;
}

.section-image {
  object-fit: cover;
}

/************
II SECTION
*************/
/* #manje-stetnih */

.left-container {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.image-container-left {
}

.right-container {
}
/* .image-container-right::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-style: solid;
  border-width: 232.31px 177.18px 0 0;
  border-color: #00d2d2 transparent transparent transparent;
  line-height: 0px;
  _border-color: #00d2d2 #000000 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
} */

.image-container-right {
  object-fit: cover;
}
/************
III SECTION
*************/
/* #iqos-zagreva-duvan */

#iqos-zagreva-duvan {
  flex-direction: column;
}
.image-container-right.hide {
  display: none;
}
/*********
IV  section
************/
/* #sagorevanje-cigareta */
#sagorevanje-cigareta {
  margin-bottom: 12%;
}

/***********
V  section
************/
/*#gledamo-napred*/

#gledamo-napred {
}
/************
Warning popup
*************/

.warning {
  width: 100%;
}
.warning > p {
  text-align: center;
  font-size: clamp(3rem, 2.8vw, 4rem);
  line-height: 1.52em;
}
/*********************************************************************************
                                     FOOTER
********************************************************************************/

.footer {
  width: 100%;
  background-color: var(--clr-text);
  flex-direction: column;
}

.footer-links {
  flex-direction: column;
  margin-top: 8%;
  width: 83.3%;
  margin: 0 auto;
  align-items: baseline;
}
.footer-links a {
  color: var(--clr-gray-300);
  text-align: left;
  font-size: 2rem;
  line-height: 4.8rem;
}

.copy-right {
  color: var(--clr-neutral-100);
  text-align: center;
}

/*********************************************************************************
                                     RESPONSIVE
********************************************************************************/
@media only screen and (min-width: 400px) {
  .dots {
    top: 60%;
  }
}

@media only screen and (min-width: 768px) {
  /*Utility*/
  .flex-container {
    flex-direction: row;
  }
  .main {
    width: min(1748px, 95%);
    max-width: 95%;
    margin: 0 auto;
    margin-top: 8vw;
  }

  /*Text classes*/

  .text-title-bold {
    line-height: 1.3em;
  }
  /*Navigation*/

  .desktop-nav {
    display: flex;
  }
  /*Navigation*/
  .mobile-nav {
    display: none;
  }
  /*SLIDER*/

  .slider-container {
    overflow-x: hidden;
    background-color: transparent;
    /* min-height: 59.35vh; */
    padding-top: 0;
  }

  .slider {
    overflow-x: hidden;
  }
  .slide-img,
  .slide-content {
    flex-basis: 100%;
    width: min(87.4rem, 50%);
    margin: 0;
  }
  .slide-text-content {
    flex-direction: column;
  }

  /*First section*/

  #bolji-izbor,
  #manje-stetnih,
  #iqos-zagreva-duvan,
  #sagorevanje {
    flex-direction: row;
  }
  .text-content {
    flex-direction: column;
  }

  /*Third section*/

  .image-container-right.hide {
    display: block;
  }
}

@media only screen and (min-width: 1600px) {
  .text-fusnote {
    font-size: 1.5rem;
    line-height: 1.533em;
  }
}
