/*********************************************************************************
                                     GLOBALS
********************************************************************************/

:root {
  --clr-text: #34303d;
  --clr-primary: #00d1d2;
  --clr-secondary: #2980b4;
  --clr-accent: #e3813b;

  --clr-neutral-100: #fff;
  --clr-neutral-200: #f5f4f0;
  --clr-neutral-300: #f6f4ef;

  --clr-gray-300: #e7e7e7;
  --clr-gray-400: #e8e8e8;
  --clr-gray-900: #34303d1a;

  --f-heading-large-bold: normal normal bold 70px/80px IQOS;
  --f-heading-bold: normal normal bold 58px/75px IQOS;

  --f-subheading-normal: normal normal normal 30px/46px IQOS;
  --f-link-footer: normal normal normal 20px/48px IQOS;
  --f-link-header: normal normal normal 18px/28px IQOS;

  --f-text-normal: normal normal normal 20px/30px IQOS;
  --f-text-small: normal normal normal 15px/23px IQOS;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  text-align: left;
  color: var(--clr-neutral-100);
  opacity: 1;
  background-color: #fff;
  font-size: 20px;
}
body {
  /*overflow-x: hidden;*/
  position: relative;
  color: var(--text-color);
}
main {
  width: 91.04%;
  margin: 0 auto;
  background-color: #ffffff;
}

/********
Typografy
*********/

h2 {
  font: var(--f-heading-bold);
  letter-spacing: 0px;
}

p,
a {
  font: var(--f-text-normal);
  letter-spacing: 0px;
}
a {
  text-decoration: none;
}

/*****
  UI
******/

img {
  width: 100%;
  height: 100%;
}

section {
  min-height: 50%;
  width: 100%;
  position: relative;
  padding: 5% 0;
}

/*****************
Utility classes
*****************/

.bg-white {
  background: var(--clr-neutral-100) 0% 0% no-repeat padding-box;
}
.bg-light {
  background: var(--clr-neutral-200) 0% 0% no-repeat padding-box;
}
.bg-medium {
  background: var(--clr-neutral-300) 0% 0% no-repeat padding-box;
}
.bg-light-gray {
  background: var(--clr-gray-400) 0% 0% no-repeat padding-box;
}
.bg-primary {
  background: var(--clr-primary) 0% 0% no-repeat padding-box;
}
.bg-secondary {
  background: var(--clr-secondary) 0% 0% no-repeat padding-box;
}
.bg-accent {
  background: var(--clr-accent) 0% 0% no-repeat padding-box;
}
.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.split {
}

/*********************************************************************************
                                     HEADER
********************************************************************************/

/***********
Desktop menu
************/
.desktop-menu {
  height: 101px;
  border-bottom: 3px solid var(--nav-bg);
}

/***********
Mobile menu
************/
.mobile-menu {
  display: none;
}

/*********************************************************************************
                                     MAIN
********************************************************************************/
/******
First section
*******/

#first {
  height: 100vh;
}
.section-background {
  background: var(--section-bg) 0% 0% no-repeat padding-box;
  width: 59.3%;
  height: 79%;
  position: absolute;
  left: 0;
  bottom: 0;
  /*z-index: -1;*/
}
.content {
  width: 70%;
  text-align: left;
  margin-left: 12%;
  position: relative;
  z-index: 1;
  padding: 84px 2px;
  flex-direction: column;
}
.content > p,
.text-content > p {
  padding: 21px;
  padding-left: 0;
}
#first > div.section-background > div > p {
  border: 2px solid var(--text-color);
  text-align: center;
  padding: 25px;
  margin-top: 1.5em;
}
.section-image {
  background: transparent url("assets/iqos-1.jpg") 0% 0% no-repeat padding-box;
  background-size: cover;
  opacity: 1;
  width: 50%;
  height: 48.3%;
  position: absolute;
  top: 8%;
  right: 0;
  z-index: 1;
}

/****************
     Slider 
****************/
.slider-container {
  overflow-x: hidden;
  position: relative;
}
.slider {
  width: 100%;
  height: 641px;
}
.slide {
  width: 100%;
  height: 641px;
  justify-content: space-between;
  position: absolute;
  z-index: -1;
  background-color: var(--slider-bg);
}
.slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.top {
  z-index: 3;
  transition: 0.5s ease transform;
}
.slide.active {
  z-index: 3;
  transform: translateX(0);
}
.slide.transition {
  transition: 0.5s ease transform;
}

/*Slide elements styling*/

.slide-content {
  width: 874px;
  height: 641px;
}

.slide-img {
  width: 874px;
  height: 641px;
  background: transparent url("assets/iqos-1.jpg") 0% 0% no-repeat padding-box;
  background-size: cover;
}
.slide-text-content {
  width: 696px;
  height: 641px;
  flex-direction: column;
  align-items: flex-start;
}
.slide-text {
  font-size: 30px;
  line-height: 46px;
  padding-bottom: 47px;
  padding-right: 2%;
}
.slide-text-border {
  padding: 12px 36px;
  border: 2px solid var(--text-color);
  font-size: 20px;
  line-height: 30px;
}
.slide-text-note {
  font-size: 15px;
  line-height: 23px;
  padding-top: 14px;
  padding-right: 3%;
}

/*Slider navigation*/
.buttons div {
  cursor: pointer;
  pointer-events: all;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.582);
}
.buttons div:hover {
  background-color: gray;
}
.dots {
  z-index: 5;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.dots .dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: var(--green);
  border-radius: 10px;
  margin: 10px;
  transition: 0.3s ease width;
  cursor: pointer;
}
.dots .dot.active {
  background-color: var(--green);
  width: 40px;
}
.buttons {
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 0;
  height: auto;
  color: black;
  display: flex;
  flex-direction: row-reverse;
  width: auto;
  font-size: 50px;
}

.slider-button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(0, 209, 210, 0.3) 0% 0% no-repeat padding-box;
}
.slider-button > ion-icon {
  width: 33px;
  height: 17px;
  text-align: left;
  letter-spacing: 0px;
  color: var(--green);
}

/************
Third section
*************/

.third-section {
  background: var(--section-bg) 0% 0% no-repeat padding-box;
}
.third-section > div {
  width: 50%;
  height: 874px;
}
.left-container {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /*margin-left: 86px;*/
}
.text-container {
  text-align: left;
  width: 550px;
  flex-direction: column;
  justify-content: space-between;
}

.text-title {
  font: normal normal bold 58px/75px var(--font-family);
}

.text-content {
}

.image-container-left {
  /* position: absolute;
  top: 829px; */
  transform: translateY(68%);
  width: 556px;
  height: 397px;
}

.right-container {
  position: relative;
  background: var(--orange);
  height: 874px;
}
.right-container::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-style: solid;
  border-width: 232.31px 177.18px 0 0;
  border-color: #00d2d2 transparent transparent transparent;
  line-height: 0px;
  _border-color: #00d2d2 #000000 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

.image-container-right {
  width: 246px;
  height: 537px;
  object-fit: cover;
}
/*********************************************************************************
                                     FOOTER
********************************************************************************/

footer {
  width: 100%;
  color: #fff;
  max-height: 298px;
  height: 298px;
  background-color: var(--text-color);
}
/*********************************************************************************
                                     RESPONSIVE
********************************************************************************/

/* Laptop 1553px */
@media (max-width: 1600px) {
  html {
    font-size: 20px;
  }
  h1 {
    line-height: 50px;
  }
  p {
    line-height: 20px;
    font-size: 1rem;
  }
  .content {
    padding: 5%;
  }
  .content > p,
  .text-content > p {
    padding: 2%;
    padding-left: 0;
    line-height: 20px;
  }
  #first > div.section-background > div > p {
    padding: 12px 36px;
    text-align: left;
  }

  /*Slider*/
  .slide-content {
    width: 50%;
    height: 500px;
  }

  .slide-img {
    width: 50%;
    height: 500px;
    background: transparent url("assets/iqos-1.jpg") 0% 0% no-repeat padding-box;
    background-size: cover;
  }
  .slide-text-content {
    width: 40%;
    height: 500px;
  }
  .slide-text {
    font-size: 30px;
    line-height: 46px;
    padding-bottom: 47px;
    padding-right: 2%;
  }
  .slide-text-border {
    padding: 12px 36px;
    font-size: 20px;
    line-height: 20px;
  }
  .slide-text-note {
    font-size: 15px;
    line-height: 23px;
    padding-top: 14px;
    padding-right: 3%;
  }
}

/*Laptop */
@media (max-width: 1440px) {
  html {
    font-size: 16px;
  }
}

/* Tablet 768px */
@media (max-width: 768px) {
  /*Menu*/
  .desktop-menu {
    display: none;
  }
  .mobile-menu {
    display: flex;
  }

  /*Slider*/
  .slide-1 .content {
    left: 20px;
  }
  .dots {
    left: 0;
    transform: translateX(0);
  }
}
